.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
}
.products_wrapper {
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
}
.products {
    background-color: red;
}
.products_title {
    margin-top: 48px;
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.products_list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
}

.product_item {
    display: flex;
    position: relative;
    background-color: bisque;
    border-radius: 15px;
    flex-direction: column;
    width: 366px;
    height: 366px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: solid 2px darkolivegreen;
    & p {
        color: darkolivegreen;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

}
#sale {
    position: absolute;
    top: 310px;
    left: 255px;
    color: crimson;
}

