@font-face {
    font-family: 'alexbrush';
    src: url("../fonts/alex brush/AlexBrush-Regular.ttf") format("truetype");
    font-family: 'inter';
    src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

.diagram_container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.diagram_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first_diagram {
    max-width: 595px;
}

.first_diagram_title {
    font-family: inter;
    font-size: 40px;
}
.first_diagram_text {
    padding-left: 35px;
    font-family: inter;
    font-size: 16px;
}

.second_diagram {
    max-width: 595px;
}

.second_diagram_text {
    padding-left: 35px;
    font-family: inter;
    font-size: 16px;
}

.feedback_item_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.any_info_footer_container {
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

.legal_info_description_container{
    text-align: center;
}
.any_info_footer_logo {
    font-family: alexbrush;
    font-size: 40px;
    font-weight: bold;
}

.contact_icon_container {
    display: flex;
    justify-content: space-around;
}

.item_pay_container_top {
    display: flex;
    justify-content: space-around;
}

.item_pay_container_bottom{
    display: flex;
    justify-content: space-around;
}
.contact_icon {
    width: 25px;
    height: 25px;
}

.feedback_inputs {
    width: 255px;
    height: 40px;
    border-radius: 10px;
    background-color: #d5d5bd;
    border: none;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

footer,header,aside{display: block;}

html,body{
    color: #000000;
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-size: 16px;
    background: #ffffff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
	overflow-x: hidden;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.diagram_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.staff{
    padding: 56px 0;
}

.staff__wrapper{
    display: flex;
    flex-direction: column;
    gap: 64px;
    & h2 {
        color: #000;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.teacher__list {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 50px;
    margin-left: 50px;
}

.teacher__list-item-link{
    display: block;
    position: relative;
}

.teacher__list-link-item-img{
    width: 330px;
    height: 400px;
    & img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}


.teacher__list-item-name{
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #D9D9D9;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.view__more__teacher__button{
    padding: 10px 5px;
    background: #D9D9D9;
    margin: 0 auto;
    border-radius: 5px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}