<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestPage</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<footer>
    <form id="feedback_form" action="" method="POST">

    </form>
    <div class="feedback_item_container">
        <div class="name_element">
            <input class="feedback_inputs" type="text" id="name" name="name" placeholder="Ваше имя"
                   form="feedback_form">
        </div>
        <div class="phone_element">
            <input class="feedback_inputs" type="text" id="phone" name="phone" placeholder="+375(_)___-__-__"
                   form="feedback_form">
        </div>
        <div class="email_element">
            <input class="feedback_inputs" type="email" id="email" name="email" placeholder="e-mail"
                   form="feedback_form">

        </div>
        <div class="button_element">
            <input class="feedback_inputs" type="submit" value="Отправить"
                   form="feedback_form">
        </div>
    </div>
    <div class="any_info_footer_container">
        <div class="any_info_footer_logo">
            <p>HumanDoc</p>
        </div>
        <div class="any_info_footer_text">
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="any_info_footer_text2">
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="any_info_footer_contact_container">
            <div class="contact_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="contact_phone">
                <p>+37525-658-14-73</p>
            </div>
            <div class="contact_email">
                <p>email yodaborodach@johan.pull</p>
            </div>
            <div class="contact_icon_container">
                <div class="icon_instagram">
                    <img class="contact_icon" src="../static/icon/Instagram svg.svg" alt="">
                </div>
                <div class="icon_vk">
                    <img class="contact_icon" src="../static/icon/VK - png.svg" alt="">
                </div>
                <div class="icon_facebook">
                    <img class="contact_icon" src="../static/icon/Facebook svg.svg" alt="">
                </div>
                <div class="icon_youtube">
                    <img class="contact_icon" src="../static/icon/YouTube svg.svg" alt="">
                </div>
            </div>
        </div>
        <div class="any_info_footer_pay_container">
            <div class="pay_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="pay_icon_container">
                <div class="item_pay_container_top">
                    <div class="pay_icon_visa">
                        <img src="../static/icon/pay_system/visa.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_maestro">
                         <img src="../static/icon/pay_system/visaver.svg" alt="">
                    </div>
                    <div class="pay_icon_mastercard">
                        <img src="../static/icon/pay_system/master.svg" alt="">
                    </div>
                </div>
                <div class="item_pay_container_bottom">
                    <div class="pay_icon_visa_mastercard_sc">
                          <img src="../static/icon/pay_system/master2.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_belcard">
                        <img src="../static/icon/pay_system/belcard.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_bepaid">
                        <img src="../static/icon/pay_system/bipay.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="legal_info">
        <div class="legal_info_description_container">
            <div class="legal_info_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="legal_info_description_info1">
                <p>ООО “Lorem ipsum”, УПН 111111111</p>
            </div>
            <div class="legal_info_description_info2">
                <p>Юр. адрес: 222222, Lorem ipsum</p>
            </div>
            <div class="legal_info_description_info3">
                <p>t is a long established fact that a reader will be distracted by the readable </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>