<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestPage</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
<main>
    <section class="diagram">
        <div class="diagram_container">
            <div class="diagram_wrapper">
                <div class="first_diagram">
                    <h2 class="first_diagram_title">
                        Lorem ipsum
                    </h2>
                    <div class="first_diagram_img">
                        <img src="../static/img/diagram/chart.png" alt="../static/img/diagram/chart.png">
                    </div>
                    <p class="first_diagram_text">
                        Lorem ipsum
                    </p>
                </div>
                <div class="second_diagram">
                    <div class="second_diagram_img">
                        <img src="../static/img/diagram/chart.png" alt="../static/img/diagram/chart.png">
                    </div>
                    <p class="first_diagram_text">
                        Lorem ipsum
                    </p>
                </div>
            </div>
        </div>
    </section>
<section class="staff">
    <div class="diagram_container">
        <div class="staff__wrapper">
            <h2>
                Наши сотрудники
            </h2>
            <ul class="teacher__list">
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/andy_sidner.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Andy Sidner
                        </p>
                    </a>
                </li>
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/joana_baker.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Joana Baker
                        </p>
                    </a>
                </li>
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/sergey_kozyrev.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Sergey Kozyrev
                        </p>
                    </a>
                </li>
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/irena_kopenbaym.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Irena Kopenbaym
                        </p>
                    </a>
                </li>
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/johan_lestov.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Johan Lestov
                        </p>
                    </a>
                </li>
                <li class="teacher__list__item">
                    <a href="#" class="teacher__list-item-link">
                        <div class="teacher__list-link-item-img">
                            <img src="../static/img/staff/alina_medoyz.jpg" alt="">
                        </div>
                        <p class="teacher__list-item-name">
                            Alina Medoyz
                        </p>
                    </a>
                </li>
            </ul>
            <a href="#" class="view__more__teacher__button">
                Показать еще
            </a>
        </div>
    </div>
</section>
</main>
<footer>
    <form id="feedback_form" action="" method="POST">

    </form>
    <div class="feedback_item_container">
        <div class="name_element">
            <input class="feedback_inputs" type="text" id="name" name="name" placeholder="Ваше имя"
                form="feedback_form">
        </div>
        <div class="phone_element">
            <input class="feedback_inputs" type="text" id="phone" name="phone" placeholder="+375(_)___-__-__"
                form="feedback_form">
        </div>
        <div class="email_element">
            <input class="feedback_inputs" type="email" id="email" name="email" placeholder="e-mail"
                form="feedback_form">

        </div>
        <div class="button_element">
            <input class="feedback_inputs" type="submit" value="Отправить"
                form="feedback_form">
        </div>
    </div>
    <div class="any_info_footer_container">
        <div class="any_info_footer_logo">
            <p>HumanDoc</p>
        </div>
        <div class="any_info_footer_text">
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="any_info_footer_text2">
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="any_info_footer_contact_container">
            <div class="contact_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="contact_phone">
                <p>+37525-658-14-73</p>
            </div>
            <div class="contact_email">
                <p>email yodaborodach@johan.pull</p>
            </div>
            <div class="contact_icon_container">
                <div class="icon_instagram">
                    <img class="contact_icon" src="../static/icon/Instagram svg.svg" alt="">
                </div>
                <div class="icon_vk">
                    <img class="contact_icon" src="../static/icon/VK - png.svg" alt="">
                </div>
                <div class="icon_facebook">
                    <img class="contact_icon" src="../static/icon/Facebook svg.svg" alt="">
                </div>
                <div class="icon_youtube">
                    <img class="contact_icon" src="../static/icon/YouTube svg.svg" alt="">
                </div>
            </div>
        </div>
        <div class="any_info_footer_pay_container">
            <div class="pay_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="pay_icon_container">
                <div class="item_pay_container_top">
                    <div class="pay_icon_visa">
                        <img src="../static/icon/pay_system/visa.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_maestro">
                        <img src="../static/icon/pay_system/visaver.svg" alt="">
                    </div>
                    <div class="pay_icon_mastercard">
                        <img src="../static/icon/pay_system/master.svg" alt="">
                    </div>
                </div>
                <div class="item_pay_container_bottom">
                    <div class="pay_icon_visa_mastercard_sc">
                        <img src="../static/icon/pay_system/master2.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_belcard">
                        <img src="../static/icon/pay_system/belcard.svg" alt="">
                    </div>
                    <div class="pay_icon_visa_bepaid">
                        <img src="../static/icon/pay_system/bipay.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="legal_info">
        <div class="legal_info_description_container">
            <div class="legal_info_description">
                <p>Lorem ipsum</p>
            </div>
            <div class="legal_info_description_info1">
                <p>ООО “Lorem ipsum”, УПН 111111111</p>
            </div>
            <div class="legal_info_description_info2">
                <p>Юр. адрес: 222222, Lorem ipsum</p>
            </div>
            <div class="legal_info_description_info3">
                <p>t is a long established fact that a reader will be distracted by the readable </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>